<tr>
  <td>
    <%= item['name'] %>
  </td>

  <td>
    <b><a href="<%= item['magnet']%>" >Descargá este torrent</a> <i class="icon-download"></i></b>
  </td>
  <td style='text-align:right' >
    <%= item['size'] %>
  </td>
  <td style='text-align:right' >
    <%= item['seeders'] %>
  </td>
</tr>
