<div class="well">
<h3>Disclaimer</h3>
<p>
El autor de esta web no tiene relación alguna con los sitios <a href="http://www.imdb.com/" target="blank">IMDB</a> ni con <a href="http://thepiratebay.se/" target="blank">The Pirate Bay</a>.
</p>
<p>
El interés es hacer que usuarios no informáticos accedan al servicio de Torrents sin tener que aprender tecnicismos.
</p>
<ul>
<li>Bajar el uTorrent</li>
<li>Buscar una pelicula. Recibir 'ayuda' en la busqueda, indicando nombre correcto y año usando IMDB.</li>
<li>Buscar en TPB, un buen repositorio de Torrents y ordenar por los que tengan mayor cantidad de seeders.</li>
</ul>

<p>
Se aceptan todo tipo de sugerencias en el formulario de <%= link_to 'Contacto', new_contact_path %>
</p>

</div>


