<div class="well">
<h3>Disclaimer</h3>
<p>
El autor de esta web no tiene relación alguna con los sitios <a href="http://www.imdb.com/" target="blank">IMDB</a>, <a href="http://thepiratebay.se/" target="blank">The Pirate Bay</a> ni <a href="http://kat.ph">KickAss Torrents</a>.
</p>
<p>
El interés es hacer que usuarios no informáticos accedan al servicio de Torrents sin tener que aprender tecnicismos.
</p>
<ul>
<li>Bajar el <a href="http://www.utorrent.com/intl/es/" target="blank">uTorrent</a>.</li>
<li>Buscar una pelicula. Recibir 'ayuda' en la busqueda, indicando nombre correcto y año usando IMDB.</li>
<li>Buscar en <a href="http://torrentz.eu">iTorrentz</a>, que es un meta buscador que ayuda a filtrar películas, para luego extraer los torrents de TPB y KAT, ambos buenos repositorios de Torrents, ordenar por los que tengan mayor cantidad de seeders y advertir en lo posible por películas filmadas del cine.</li>
</ul>

<p>
Se aceptan todo tipo de sugerencias en el formulario de <%= link_to 'Contacto', new_contact_path %>.
</p>

<p>
<small>Gracias Mariano G. por el aporte de información!</small>
</p>
</div>


