  <h1>EasyTorrents</h1>
  <h2>B&uacute;squeda fácil de torrents</h2>  

<div class='hero-unit'>
      <div class="row">
        <div class="span5">
          <h2>Búsqueda</h2>
          <%= render 'form' %>
        </div>
        <div class="well span5">

          <h4>Vos también podes usar Torrents!</h4>
          <ul>
            <li>Bajá el <a href="http://www.utorrent.com/intl/es/" target="blank">uTorrent</a>. Es el programa que va a bajar la película que querés ver a tu computadora.</li>
            <li>Buscá la película en <a href="#">EasyTorrents</a>.</li>
            <li>Nosotros buscamos por vos en <a href="http://www.imdb.com/" target="blank">IMDB</a> para identificar la película correcta.</li>
            <li>Nosotros buscamos por vos en <a href="http://torrentz.eu">iTorrentz</a> y luego en <a href="http://thepiratebay.se/" target="blank">The Pirate Bay</a> y <a href="http://kat.ph">KickAss Torrents</a>; y ordenamos los resultados.</li>
            <li>Los primeros que aparecen, son los <b>mejores</b>.</li>
            <li>Si nos sale, te avisamos si la peli es filmada del cine... un horror :-P</li>
            <li> Le das <b>"Descargá este Torrent"</b> y el uTorrent arranca solito.</li>            
             <li>Hacé el <a href="http://www.utilisima.com/recetas/5762-pochoclo.html" target="blank">pochoclo!</a></li>
          </ul>
        </div>
      </div>

</div>
