<script type="text/javascript">
$(document).ready(function() {
  $.ajax({
    url: '/searches/show_ajax/<%= @params[:id]%>',
    success: function(data) {
      $('#contenido').html(data);
    }
  });

});
</script>

<div id="contenido">

<div class="spinner">
  <center>
     <% if @search.year.blank? -%>
     <h2>Buscando el título en IMDB</h2>
     <img border="0" src="http://i.stack.imgur.com/FhHRx.gif">
     <% else -%>
       <h2>Buscando en los principales sitios de Torrents</h2>
       <h3>Esperá un ratito...</h3>
       <h5>(Ni te imaginás la cantidad de trabajo que te estamos ahorrando ;-) )</h5>
     
       <img border="0" src="http://i.stack.imgur.com/FhHRx.gif">
     
       <div style="padding-top:100px">
         <iframe src="http://www.chezpoor.com/cp/minesweeper/minecore.html" width="170px" height="220px"  scrolling="no"></iframe>
         <p>
           Mientras tanto clavate un buscaminas...
         </p>
       </div>
     <% end -%>
  </center>
</div>
</div>

